{% load static %}
<!DOCTYPE html>
<!-- Written by Zetaro(Arun) -->
<html>
<head>
    <title>TechSpark</title>
  <!--   <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static  'home/js/bootstrap.min.js' %}"></script> -->

<link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<style>

.h{
  align:center;
  size: 50;
  color:red;
  font-variant:
}

</style>




</head>

<body class="bd">

<!-- Top Part -->
<div class="head_fixing">
<div class="container"  align="center">

  <font size="10" color="red">TECHSPARK</font>

 </div>


 <br />
 <br />


 <!-- Navbar -->


<div class="container-fluid">
<br>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="http://127.0.0.1:8000/home/arun">TechSPARK</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <br><br>


      </ul>
 
      <ul class="nav navbar-nav navbar container">
        <li><a href="http://127.0.0.1:8000/home/login/">LOGIN HERE</a></li>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://127.0.0.1:8000/home/register/">REGISTER HERE</a></li>
      </ul>
      </ul>

    </div>
  </div>
</nav>
</div>
 


</div>

<div align="center">
  <strong><p>You need to signUp first if you are visiting first time.</p><strong>
</div>

<br /><br /><br /><br />
{% block body %}

<div class="container">
<h1 style="text-align: center;background-color:;width: 50%;margin: auto;padding-bottom: 2%">Login Here</h1>
<form action="{% url 'login' %}" method="post">
{% csrf_token %}
    <br><br>
          <div class="form-group" style="text-align: center; background-color: ; width: 20%;margin: auto;">

                <label for="username" e="text-align: center;">Username</label>
                <input type="text" placeholder="Enter UserName Here.." class="form-control" name="username" id="username">
          </div>

          <div class="form-group" style="text-align: center;background-color: white;width: 50%;margin: auto;padding-bottom: 0%">
            <label for="password" style="text-align: center;">Password:</label>
            <input type="password" class="form-control" name="password" id="password" style="width: 40%; text-align: center;margin: auto;">
          </div>

          <div class="form-group" style="text-align: center;background-color: white;width: 50%;margin: auto;padding-bottom: 0%">
            <label for="repassword" style="text-align: center;">Re Enter Password:</label>
            <input type="password" class="form-control" name="repassword" id="repassword" style="width: 40%; text-align: center;margin: auto;">
          </div>

 

<div class="container" align="center">

  <button type="submit" class="btn btn-success" align="center">Submit</button>

</div>
</form>

</div>
{% endblock %}









</body>

</html>