{% load static %}
<!DOCTYPE html>
<!-- Written by Zetaro(Arun) -->
<html>
<head>
    <title>Jee Advance</title>
  <!--   <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static  'home/js/bootstrap.min.js' %}"></script> -->

<link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>






</head>

<body class="bd">

<!-- Top Part -->
<div class="head_fixing">
<div class="head">

     <h1 class="u" align="center"><img src="{% static "home\images\iitb.png" %}" class="img-circle" height="110" width="110"/>

         &nbsp&nbsp<em><strong>JEE(Advanced)2017</strong></em></h1>

 </div>


 <br />
 <br />


 <!-- Navbar -->

 <div class="container clr ">
     <ul class="nav nav-pills nav-justified">
	      <li role="presentation" class="" ><a href="http://127.0.0.1:8000/home/arun/"><strong>Home</strong></a></li>
		  <li role="presentation" class="" ><a href="http://127.0.0.1:8000/home/login/"><strong>Login</strong></a></li>
		  <li role="presentation" class="" ><a href="http://127.0.0.1:8000/home/admissionpc"><strong>Register</strong></a></li>

 	</ul>
  </div>

</div>


<h1>LOGOUT !</h1>

<br /><br /><br /><br />
{% block body %}
<div class="container">

    <h1>You Can Login Here.</h1><br /><br />

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Login</button>

    </form>

</div>
{% endblock %}

</body>

</html>